Value No (\d+)
Value TeamDev (\S+)
Value AdminState (\S+)
Value Protocol (\S+)
Value Ports (\S+[\S ]+)

Start
  ^Flags:.*$$ -> Continue
  ^-+\s*$$ -> Continue
  ^\s*${No}\s+${TeamDev}\s+${AdminState}\s+${Protocol}\s+${Ports}+\s*$$ -> Record


