Value Filldown RDROUTE (\d+\:\d+\:\d+\.\d+\.\d+\.\d+/\d+)
Value Filldown SECETCED (.*)
Value Filldown PEERV6 (^([0-9a-fA-F]{1,4}:){7,7}([0-9a-fA-F]{1,4}|:)|([0-9a-fA-F]{1,4}:){1,6}(:[0-9a-fA-F]{1,4}|:)|([0-9a-fA-F]{1,4}:){1,5}((:[0-9a-fA-F]{1,4}){1,2}|:)|([0-9a-fA-F]{1,4}:){1,4}((:[0-9a-fA-F]{1,4}){1,3}|:)|([0-9a-fA-F]{1,4}:){1,3}((:[0-9a-fA-F]{1,4}){1,4}|:)|([0-9a-fA-F]{1,4}:){1,2}((:[0-9a-fA-F]{1,4}){1,5}|:)|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6}|:)|:((:[0-9a-fA-F]{1,4}){1,7}|:))
Value Filldown SID (\S+)

1 available, best #1

Start
  ^\s*BGP routing table entry for ${RDROUTE}, version \d+\s*$$
  ^\s*$$
  ^\s*Paths: \(${SECETCED}\)\s*$$
  ^\s*Advertised to non peer-group peers:\s*$$
  ^\s*${PEERV6}\s*$$
  ^\s*Local\s*$$
  ^\s*\S+\s*$$
  ^\s*\S+\s*$$
  ^\s*\S+\s*$$
  ^\s*\S+\s*$$
  ^\s*\S+\s*$$
  ^\s*Remote SID: ${SID}\s*$$ -> Record
  ^\s*\S+\s*$$

EOF